{% extends "base/base.html" %}
{% block title %}Dashboard: Ishan School{% endblock %}

{% block body %}
<div class="p-4 sm:ml-64">
    

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        S.N.
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Registration ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        First Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Middle Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Gender
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Enrolled Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{forloop.counter}}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{student.registration_id}}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{student.first_name}}
                    </th>
                    <td class="px-6 py-4">
                        {{student.middle_name}}
                    </td>
                    <td class="px-6 py-4">
                        {{student.last_name}}
                    </td>
                    <td class="px-6 py-4">
                        {{student.get_gender_display}}
                    </td>
                    <td class="px-6 py-4">
                        {{student.enrolled_date}}
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{student.get_absolute_url}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'student:student-manage' %}" class="">View All >></a>
    </div>
</div>
{% endblock %}